@tailwind base;
@tailwind components;
@tailwind utilities;

/* src/css/input.css */
@font-face {
    font-family: 'Soehne';
    src: local('Soehne'), url(../fonts/soehne-buch.woff2) format('woff2');
    src: local('Soehne'), url(../fonts/soehne-halbfett.woff2) format('woff2');
    src: local('Soehne'), url(../fonts/soehne-kraftig.woff2) format('woff2');
}
* {
    font-family: 'Soehne';
}
.custom-menu-list-item {
    @apply block py-2 pr-4 pl-3 text-gray-700 border-b border-gray-100 hover:bg-gray-50 lg:hover:bg-transparent lg:border-0 lg:hover:text-blue-700 lg:p-0 dark:text-gray-400 lg:dark:hover:text-white dark:hover:bg-gray-700 dark:hover:text-white lg:dark:hover:bg-transparent dark:border-gray-700;
}
.custom-pricing-cards {
    @apply flex flex-col p-6 text-gray-900 bg-white rounded-lg lg:rounded-none dark:bg-gray-800 dark:text-white;
}
.pricing-cards-shadow,
.pricing-cards-shadow hr {
    @apply border border-gray-200 dark:border-gray-700;
}
.custom-button-primary {
    @apply px-5 py-3 font-medium rounded text-sm text-center border border-teal-700 text-white bg-teal-700 hover:bg-teal-800 focus:ring-4 focus:outline-none focus:ring-teal-300 dark:bg-teal-600 dark:hover:bg-teal-700 dark:focus:ring-teal-800;
}
.custom-button-secondary {
    @apply px-5 py-3 font-medium rounded text-sm text-center border border-teal-700 text-teal-700 hover:text-white  hover:bg-teal-800 focus:ring-4 focus:outline-none focus:ring-teal-300  dark:border-teal-500 dark:text-teal-500 dark:hover:text-white dark:hover:bg-teal-500 dark:focus:ring-teal-800;
}
.custom-button-teritary {
    @apply px-5 py-3 font-medium rounded text-sm text-center border border-white hover:border-teal-700 text-white hover:text-white hover:bg-teal-800 focus:ring-4 focus:outline-none focus:ring-teal-300  dark:border-white dark:text-white dark:hover:text-white dark:hover:bg-teal-500 dark:focus:ring-teal-800;
}
.custom-plan-row {
    @apply border-b border-l border-b-gray-300 border-l-gray-300 text-gray-500 text-center h-20 flex items-center justify-center px-6;
}
.custom-plan-row > span.active {
    @apply w-5 h-5 inline-flex items-center justify-center bg-gray-500 text-white rounded-full flex-shrink-0;
}
.custom-plan-row > span.disable {
    @apply w-5 h-5 inline-flex items-center justify-center bg-gray-200 text-white rounded-full flex-shrink-0;
}
.custom-plan-desc {
    @apply font-light text-gray-500 sm:text-lg dark:text-gray-400 sm:min-h-24;
}
.custom-pricing-cards ul li {
    @apply text-gray-700 relative pl-6;
}
.custom-pricing-cards ul li i {
  @apply text-gray-500;
}
.custom-pricing-cards ul li::before {
    content: '';
    width: 1rem;
    height: 1rem;
    background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20"><path fill-rule="evenodd" d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z" clip-rule="evenodd"/></svg>') no-repeat center;
    background-size: contain;
    position: absolute;
    top: 5px;
    left: 0;
}

@layer components {
    .custom-box-shadow {
        -webkit-box-shadow: 0 3px 25px 0 rgba(0, 0, 0, 0.4);
        box-shadow: 0 3px 25px 0 rgba(0, 0, 0, 0.4);
    }
}

/* Desktop: Apply box-shadow to the parent wrapper */
@media (min-width: 1024px) {
    .pricing-cards-wrapper-shadow {
        @apply custom-box-shadow;
    }
}

/* Mobile and Tablet: Apply box-shadow to individual cards */
@media (max-width: 1023px) {
    .pricing-cards-shadow {
        @apply custom-box-shadow rounded-md;
    }
    .pricing-plan {
        @apply rounded-md;
    }
}
.desktop-menu {
    @apply text-base text-gray-500 hover:text-gray-800;
}
.mobile-menu-item {
    @apply block p-3 text-sm font-semibold text-gray-500 hover:bg-clr-gray hover:text-gray-700;
}
.pricing-category {
    @apply border-t border-gray-300 text-gray-600 text-center h-20 flex items-center;
}

.down-arrow {
    @apply box-border h-[15px] w-[15px] border-solid border-black border-r-[2px] border-b-[2px] border-t-0 border-l-0 rotate-45 transition-all ease-in-out duration-150 mx-auto;
}

.block-primary-menu {
    @apply pb-6 sm:pr-6 sm:w-6/12 lg:w-5/12;
}
.block-primary-menu li {
    @apply leading-9;
}

.social-menu {
    @apply items-center lg:text-base flex justify-center w-8 h-8 border rounded-[5px];
}

footer ul li a {
    @apply text-gray-300 hover:text-white text-sm;
}

.block-secondary-menu ul li,
.block-language ul li {
    @apply pr-2.5 py-1 inline-block;
}

.client-block {
    @apply py-8 px-6 lg:py-32 mx-auto max-w-screen-xl w-full flex sm:grid sm:grid-cols-5 gap-4 overflow-x-auto sm:overflow-x-visible snap-x snap-mandatory;
}
.client-block-container {
    @apply min-w-[40%] sm:min-w-0 snap-center;
}
.cleint-block-anchor {
    @apply flex justify-center items-center;
}
.client-block img {
    @apply lg:opacity-80 hover:lg:opacity-100 w-full h-auto object-contain;
}